body{
    font-family: "Monserrat", sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, .87);
    line-height: 1.6;
    font-weight: 500;
    width: 100%;
    margin: 0;
}
.header{
   display: flex;
   align-items: center;
   height: 300px;
   background-color: #2251b2;
   padding: 40px;
   padding-bottom: 0;
   box-shadow: 0 4px 30px rgba(0, 0, 0, .5);
   width: auto;
}

.header .pdp{
    margin: 0px 40px;
    margin-top: 150px;
}

.header .Nom{
    margin-left: 50px;
    font-size: 20px;
    color: #ffffff;
    font-family: "Montserrat Light";
}

.contact{
    margin-left: 430px;
}
section{
    display: flex;
    flex-direction: row-reverse;
}

.section1{
    width: 35%;
    background: #fbfbfb;
    padding: 10px;
}

.section2{
    width: 65%;
    padding: 10px;
}

li{
    padding: 5px 0;
}

.module{
    list-style: none;
    font-size: 14px;
}

footer{
    text-align: center;
    color: red;
}

@media only screen and (max-width: 925px){
    .header .Nom{
        font-size: 17px;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 740px){
    .header{
        display: inline-block;
        height: auto;
        
    }
    .header .pdp{
        width: 100%;
        margin: 0 auto;
    }
    .header .Nom{
        width: 100%;
        margin: 0 auto;
    }
    .contact{
        margin: auto;
    }
    section{
        display: inline-block;
        width: 100%;
    }
    .section1, .section2{
        width: 100%;
    }
    hr{
        width: 100%;
    }
}
